@model IEnumerable<BookMe.Application.Employee.Dto.EmployeeDto>

@{
    ViewData["Title"] = "Zarządzanie Pracownikami";
}

<div class="container mt-5 bg-secondary text-white p-4 rounded">
    <h2 class="mb-4">Zarządzanie Pracownikami dla Serwisu: @ViewBag.ServiceName</h2>
    <a asp-action="Create" asp-route-encodedName="@ViewBag.ServiceEncodedName" class="btn btn-dark mb-3">Dodaj Nowego Pracownika</a>
    <table class="table table-striped table-dark equal-width-columns text-center">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td class="align-middle">
                        @if (!string.IsNullOrEmpty(employee.AvatarUrl))
                        {
                            <img src="@employee.AvatarUrl" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%;" />
                        }
                        else
                        {
                            <span>Brak</span>
                        }
                    </td>
                    <td class="align-middle">@employee.FirstName</td>
                    <td class="align-middle">@employee.LastName</td>
                    <td class="align-middle">@employee.Email</td>
                    <td class="align-middle">
                        <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-outline-light">Edytuj</a>
                        <form asp-action="Delete" asp-route-encodedName="@ViewBag.ServiceEncodedName" asp-route-id="@employee.Id" method="post" class="d-inline" onsubmit="return confirm('Czy na pewno chcesz usunąć tego pracownika?');">
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
